.eventos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center; /* Centraliza os cards */
  }
  
  .evento-card {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 1rem); /* 3 cards por linha em telas grandes */
    background-color: #f9f9f9;
    transition: transform 0.2s; /* Adiciona efeito ao passar o mouse */
    cursor: pointer;
  }
  
  .evento-card:hover {
    transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
  }
  
  .evento-card h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .evento-card p {
    margin: 0.5rem 0;
  }
  
  /* Media Queries para responsividade */
  @media (max-width: 768px) {
    .evento-card {
      width: calc(50% - 1rem); /* 2 cards por linha em tablets */
    }
  }
  
  @media (max-width: 480px) {
    .evento-card {
      width: 100%; /* 1 card por linha em celulares */
    }
  }
  